.btn-tilt {
   background: $color-tilt;
   color: $color-white;

   &:hover {
      color: $color-white;
      background: darken($color-tilt, 5);
   }
}

.btn-red {
   background: $color-red;
   color: $color-white;

   &:hover {
      color: $color-white;
      background: darken($color-red, 5);
   }
}

.btn-secondary {
   background: #696768;
   color: $color-white;

   &:hover {
      color: $color-white;
      background: darken(#696768, 5);
   }
}